// dashboard
$db-header-height: 64px;
$db-recent-files-background: #dadce0;
$db-recent-files-height: 160px;


// excel
$excel-header-height: 34px;
$excel-toolbar-height: 40px;
$excel-formula-height: 24px;
$excel-info-cell-width: 40px;
$excel-cell-width: 120px;
$excel-row-height: 24px;
$excel-border-color: #c0c0c0;
$excel-info-column-color: #f8f9fa;
