@import "variables";
@import "mixins";

.excel {
  &__formula {
    position: absolute;
    top: $excel-header-height + $excel-toolbar-height;
    display: flex;
    height: $excel-formula-height;
    width: 100%;
    left: 0;
    right: 0;
    border-bottom: 1px solid $excel-border-color;

    & .info {
      font-size: 18px;
      font-style: italic;
      text-align: center;
      min-width: $excel-info-cell-width;
      color: $excel-border-color;
      border-right: 1px solid $excel-border-color;
    }

    & .input {
      display: inline-block;
      width: 100%;
      outline: none;
      padding: 4px;
      font-size: 12px;
    }
  }
}
