@import "mixins";
@import "variables";

.excel {
  &__table {
    position: absolute;
    top: $excel-header-height + $excel-toolbar-height + $excel-formula-height;
    left: 0;
    right: 0;
    overflow-x: auto;
    padding-bottom: 2px;

    & .row {
      display: flex;
    }

    & .row:nth-child(1) {
      background-color: $excel-info-column-color;
    }

    & .row-info {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $excel-row-height;
      min-width: $excel-info-cell-width;
      background-color: $excel-info-column-color;
      border-bottom: 1px $excel-border-color solid;
      border-right: 1px $excel-border-color solid;
    }

    & .row-data {
      display: flex;
    }

    & .column {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $excel-cell-width;
      height: $excel-row-height;
      border-bottom: 1px $excel-border-color solid;
      border-right: 1px $excel-border-color solid;
    }

    & .cell {
      padding: 5px;
      width: $excel-cell-width;
      height: $excel-row-height;
      border-bottom: 1px $excel-border-color solid;
      border-right: 1px $excel-border-color solid;
      white-space: nowrap;
      color: #111;
    }

    & .cell.selected {
      outline: 2px solid #3c74ff;
      border: none;
    }
  }
}
