@import "variables";
@import "mixins";

.excel {
  &__toolbar {
    position: absolute;
    top: $excel-header-height;
    display: flex;
    padding: 7px 10px;
    border-top: 1px solid $excel-border-color;
    border-bottom: 1px solid $excel-border-color;
    height: $excel-toolbar-height;
    width: 100%;

    & .button {
      @include button;
    }
  }
}
